<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> - FreakySet1</title>
    <link rel="stylesheet" href="/public/Css/Freaky1.css"> <!-- Collegamento al CSS -->
</head>
<body>
    <div class="product-details">
        <h1><%= product.name %></h1>
        <img src="/img/<%= product.image %>" alt="<%= product.name %>">
        <p>Prezzo: <%= product.price %></p>
        <p><%= product.description %></p>
        <a href="/">Home</a>
    </div>
</body>
</html>
